.dancing-bear {
    position: absolute;
    top: 10px;
    left: 30px;
}

.keeping-on-dancing {
    position: relative;
    margin: 50px auto;
    max-width: 600px;
    font-size: 10rem;
}

.dancer {
    position: absolute;
    top: 40px;
    left: 50px;
}