/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
}


/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

/* Color Variables */
:root {
    --bg: #eee;
    --font: #222;
}

body.dark {
    --bg: #222;
    --font: #eee;
}


/* General CSS */

body {
    background-color: var(--bg);
    color: var(--font);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 5rem;
}

main {
    max-width: 60rem;
    margin: 0 auto;
}

img{
    width: 40rem;
}

.hidden {
    display: none;
}

#img1 {
    position: absolute;
    top: 3rem;
    right: 3rem;
}

#img2 {
    position: absolute;
    top: 6rem;
    right: 13rem;
}

#img3 {
    position: absolute;
    top: 5rem;
    right: 6rem;
}



