/* Color Palette */

:root {
    --bg-color-1: #17bbe4;
    --bg-color-2: #211e59;
    --font-color: #fdfdfd;
    --accent-1: #ffffff;
    --accent-2: #2E5077;
    --dark: #222;
}


/* CSS resets */

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

/* respect user size font size preferences */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* make images responsive */
img {
    display: block;
    max-width: 100%;
}

/* General CSS */

body {
    background-color: var(--bg-color-2);
    color: var(--font-color);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;

}

header {
    text-align: center;
    margin-bottom: 7rem;
    padding: 5rem 2rem;
}

header h1 {
    text-shadow: -5px 5px 0px #00e6e6,
        -10px 10px 0px #01cccc,
        -15px 15px 0px #00bdbd,
        6px -7px 7px rgba(206, 89, 55, 0);
}

nav a {
    text-decoration: none;
    color: var(--font-color);
    /* margin: 0 1rem; */
    /* transition: all 0.3s ease; */
}

nav a:hover {
    color: var(--bg-color-1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    font-size: 3rem;
    border: none;
    color: var(--accent-1)
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1rem;
}

@media (max-width: 750px) {
    .nav-bar {
        align-items: flex-start;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        align-self: flex-end;
    }

    .nav-menu {
        display: none;

    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        background-color: var(--accent-1);
        color: var(--accent-1)
    }

    .nav-menu a {
        color: var(--accent-1);
        padding: 1rem;
    }

    header{
        padding: 1.5rem 2rem;
    }
}

.nav-menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-menu.active {
    display: flex;
}


main {
    margin: 0;
}

@media (max-width: 1030px) {
    header {
        margin: 2rem;
    }

    .about-content,
    .portfolio-content,
    .contact-content {
        padding: 1rem;
    }
}

@media (max-width: 750px) {
    header h1 {
        margin: 1rem;
    }
}

nav a {
    display: block;
    margin: 0.5rem 0;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 5rem auto 7rem auto;
    padding: 2rem;
}

.about h2,
.portfolio h2,
.contact h2 {
    margin: 2rem 0;
}

.portfolio-item {
    padding: 1rem;
    background-color: var(--accent-2);
    border-radius: 0.3rem;
}

.portfolio-item p {
    font-size: 1rem;

}

.portfolio-item h3 {
    font-size: 1.3rem;
}

.portfolio-item img {
    border-radius: 0.3rem;
}

footer {
    padding: 1rem 2rem;
}

footer img {
    display: inline;
    max-width: 2.5rem;
    margin: 0 0.5rem;
}

@media(max-width: 750px) {
    footer p {
        font-size: 1.2rem;
    }

    footer-img {
        max-width: 2rem;
        margin: 0 0.2rem;
    }
}

@media(max-width: 450px) {
    footer p {
        font-size: 1rem;
    }

    footer img {
        max-width: 1.5rem;
        margin: 0 0.1rem;
    }
}

/* Flex Styling */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: flex-end;
}

.flex-item-grid {
    flex: 1 0 18rem;
}