/* Color Palette */

:root {
--bg-color-1: #17bbe4;
--bg-color-2: #3e38ab;
--font-color: #000;
--accent-1: #ffffff;
--accent-2: #2E5077;
--dark: #222;

}


/* CSS resets */
* {
    margin: 0;
    padding: 0;
}

/* respect user size font size preferences */
html {
    font-size: 100%;
}


/* General CSS */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

@media (max-width: 700px) {
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 6rem;
    /* background-color: #ffffff; */
    background: var(--bg-color-2);
    background: linear-gradient(350deg, rgba(62, 56, 171, 1) 0%, rgba(43, 43, 171, 1) 35%, rgba(0, 212, 255, 1) 100%);
    margin-bottom: 3rem;
    text-align: center;
    border-bottom: #000 1px solid;
}

@media (max-width: 700px) {
    header {
        padding-left: 3rem;
    }
}

header h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #000;
}

nav{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

nav a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 1rem;
    transition: all 0.5s ease;
}

@media (max-width: 750px) {
    nav a {
        margin: 0 0.5rem;
    }
}

nav a:hover {
    color: var(--accent-1);
    transform: scale(1.3);
}

main {
    margin: 0;
}

@media (max-width: 850px) {
    main {
        margin: 3rem;

    }
}

@media (max-width: 600px) {
    main {
        margin: 1rem;
    }
}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 4rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    margin: 2rem 0;
    padding: 1rem 0;
    background-color: var(--accent-1);
    border-radius: 3rem;
    display: inline-block;

}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: white;
    padding: 4rem;
    text-align: center;
    border: 2px #000 solid;
    border-radius: .5rem;


}

@media (max-width: 800px) {
    .portfolio-item {
        padding: 2rem;
    }
}

@media (max-width: 650px) {
    .portfolio-item {
        padding: 2rem;
    }
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    box-shadow: #000 3px 2px 8px;
}

.portfolio-item h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.portfolio-item p {
    font-size: 1.2rem;
    color: #333;
}

/* .about-section {
    /* background-color: #17bbe4; */
 */

.portfolio-section {
    background-color: var(--bg-color-1);
    padding: 2rem;
}

footer {
    text-align: left;
    color:#e0e0d1;
    padding: 1rem;
    background: linear-gradient(350deg, rgba(62, 56, 171, 1) 0%, rgba(43, 43, 171, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-top: #000 1px solid;
}

footer p {
    font-size: 1rem;
}

/* style classs */

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--accent-2);
}


.cascadia-mono-font {
  font-family: "Cascadia Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}