.title{
    font-family: fantasy;
}

.square {
    background-color: crimson;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    margin: 50px auto;
    transition: all 0.5s ease;
}

.square:hover {
    background-color: cyan;
    transform: rotate(30deg);
}

.button-div{
    text-align: center;
}

.button {
    color: rgb(210, 56, 224);
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
}

.button:hover {
    background-color: rgb(210, 56, 224);
    color: aquamarine;
    transform: scale(1.5);
}